{% extends 'employer/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-around">
    <div class="col-sm-6 d-flex justify-content-between align-items-center">
        <h1 class="h3 mb-0 text-gray-800">Manage&nbspApplications</h1>
                {% if messages %}
                    {% for message in messages %}
                        <a href="#" class="alert btn btn-success btn-icon-split d-flex justify-content-between mx-5">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">{{ message }}</span>
                            <button type="button" class="close pr-2" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    {% endfor %}
                {% endif %}
    </div>
    <div class="col-sm-6 d-sm-flex justify-content-end">
        <div class="d-flex" style="margin-right: 20px">
            /<a href="{% url 'employer:home' %}">home</a>/
            <a href="#">manage applications</a>/
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables of Applications</h6>
    </div>
    {% if applications %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Applicant</th>
                        <th>Date of apply</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ application.applicant }}</td>
                        <td>{{ application.date|naturalday }}</td>
                        <td>{{ application.status }}</td>
                        <td>
                            <a href="{% url 'employer:view-application' application.id %}" class="btn btn-outline-primary">View application</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <h4 class="px-3 py-1">No applications</h4>
    {% endif %}
</div>

{% endblock %}