{% extends 'employer/base.html' %}
{% load static %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add new job here!</h1>
    <div class="d-flex" style="margin-right: 20px">
        /<a href="{% url 'employer:home' %}">home</a>/
        <a href="#">add job</a>/
    </div>
</div>

<!-- DataTales Example -->
<div class="row">
    <div class="col-lg-6">
        <div class="p-4 rounded border border-info">
            {% if messages %}
                {% for message in messages %}
                    <div class="container alert alert-dismissible fade show" role="alert" style="color: #FF6363; border: 1px solid; margin-top: 20px">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <form class="user" method="post">
                {% csrf_token %}
                <table>
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    <small class="text-danger">{{ field.errors|striptags }}</small>
                </div>
                {% endfor %}
                </table>
                <input type="submit" value="Add a new Job" class="btn btn-primary btn-user btn-block">
            </form>
            <hr>
        </div>
    </div>
</div>

{% endblock %}