{% extends 'employer/base.html' %}
{% load static %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Update job here!</h1>
    <div class="d-flex" style="margin-right: 20px">
        /<a href="{% url 'employer:home' %}">home</a>/
        <a href="#">update job</a>/
    </div>
</div>

<!-- DataTales Example -->
<div class="row">
    <div class="col-lg-6">
        <div class="p-5">
            <form class="user border-left-success shadow rounded p-4" method="post">
                {% csrf_token %}
                <h3>Are you sure want to delete this job?</h3>

                <button type="submit" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Delete</span>
                </button>

            </form>
        </div>
    </div>
</div>

{% endblock %}