{% extends 'candidates/base.html' %}

{% block body_block %}
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
      <h1>Candidate Home page</h1>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card" style="width: 540px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ request.user.candidate.profile_pic.url }}" alt="profile image here" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">ManageYourProfile</h5>
                        <p class="card-text">something texts</p>
                        {% if request.user.candidate %}
                        <a href="{% url 'cand-profdetail' %}" class="btn btn-primary">View Profile</a>
                        {% else %}
                        <a href="">Add profile</a>
                        {% endif %}
                        <p class="card-text">
                            <small class="text-muted">something muted</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>Holy guacamole!</strong> {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-error alert-dismissible fade show" role="alert">
                      <strong>Holy guacamole!</strong> {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}